# Telegram Bot Token (Majburiy)
TELEGRAM_BOT_TOKEN="8770857299:AAGbMQC8TdfDTDCw84tremU9iQ57fI-T54A"

# Boshlang'ich Admin Telegram ID va Username (Ixtiyoriy)
ADMIN_TELEGRAM_ID="5964436818"
ADMIN_USERNAME="admin_maqsud"

# Proxy sozlamasi (O'zbekistonda local ishga tushirish uchun ixtiyoriy)
# TELEGRAM_PROXY="http://ip:port" yoki "socks5://username:password@ip:port"
TELEGRAM_PROXY=""

# Telegram API manzili (O'zbekistondagi serverlar uchun bepul ko'prik)
# Agar bo'sh bo'lsa, rasmiy api.telegram.org ishlatiladi
# TELEGRAM_API_URL="https://telegram-proxy.workers.dev/bot{0}/{1}"
TELEGRAM_API_URL=""
